.mp6 .acf-post-type-options-group {
	padding: 10px;
	background-color: #e0e0e0;
	margin-bottom: 10px;
}


.mp6 #poststuff .acf-post-type-options-group > header h2 {
	margin: 0 0.25em 0 0;
	padding: 0;
	display: inline-block;
}

.mp6 #poststuff .acf-post-type-options-group > header nav {
	margin: 0;
	display: inline-block;
}
